{:paths   ["src"]
 :deps    {org.apache.commons/commons-math3 {:mvn/version "3.6.1"}
           provisdom/math                   {:git/url "https://github.com/Provisdom/math.git"
                                             :sha     "469dcb77baa30f32ea134ab5a2146cc1801baae3"}
           provisdom/utility-belt           {:git/url "https://github.com/Provisdom/utility-belt.git"
                                             :sha     "efdbcff8a2f15fe20d5b969655f19fbf7f42b680"}}
 :aliases {:dev         {:extra-paths ["siderail"]}
           :test        {:extra-paths ["test" "siderail"]
                         :extra-deps  {com.cognitect/transcriptor {:mvn/version "0.1.5"}
                                       criterium/criterium        {:mvn/version "0.4.6"}
                                       orchestra/orchestra        {:mvn/version "2021.01.01-1"}
                                       org.clojure/test.check     {:mvn/version "1.1.1"}
                                       provisdom/test             {:git/url "https://github.com/Provisdom/test.git"
                                                                   :sha     "ec0b531bf0e5a8b5897a8dde332bd08d478578f4"}}}
           :test-runner {:extra-deps {lambdaisland/kaocha           {:mvn/version "1.91.1392"}
                                      lambdaisland/kaocha-junit-xml {:mvn/version "1.17.101"}}
                         :main-opts  ["-m" "kaocha.runner"]}}}
