{:paths   ["src"]
 :deps    {org.apache.commons/commons-math3 {:mvn/version "3.6.1"}
           provisdom/math                   {:git/url "https://github.com/Provisdom/math.git"
                                             :sha     "d674f6a6b84903ad93330c5a98de2806b9878758"}
           provisdom/utility-belt           {:git/url "https://github.com/Provisdom/utility-belt.git"
                                             :sha     "5ada4da1fa8dedceef973b4615a6f0ff398ea3aa"}}
 :aliases {:dev             {:extra-paths ["siderail"]}
           :local           {:override-deps {provisdom/math         {:local/root "../math"}
                                             provisdom/utility-belt {:local/root "../utility-belt"}}}
           :test            {:extra-paths ["test" "siderail"]
                             :extra-deps  {criterium/criterium        {:mvn/version "0.4.6"}
                                           orchestra/orchestra        {:mvn/version "2021.01.01-1"}
                                           org.clojure/test.check     {:mvn/version "1.1.1"}
                                           provisdom/test             {:git/url "https://github.com/Provisdom/test.git"
                                                                       :sha     "e64700e138cdcf225ee0ced6aecda6db8207b616"}}}
           :test-clj-runner {:extra-deps {lambdaisland/kaocha           {:mvn/version "1.91.1392"}
                                          lambdaisland/kaocha-junit-xml {:mvn/version "1.17.101"}}
                             :main-opts  ["-m" "kaocha.runner"]}}}
